
.move-up {
  transform: translateY(-95vw);
}

@media only screen and (min-width: 760px) {
  .move-up {
    transform: translateY(-450px);
  }
}


button.accordion {
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

button.accordion::after{
  content: url("chevron-down.svg");
  font-size: 18px;
  float: right;
  width: 1em;
  height: 1em;
}

button.accordion.is-open::after{
  content: url("chevron-up.svg");
}

/* button.accordion:hover{
  background-color: #ddd;
} */

.accordion-content {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.special-accordion-content {
  max-height: 100%;
  padding: 0 20px;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

/* schedule table (source https://www.liquidlight.co.uk/blog/create-an-event-schedule-with-html-table/)*/

table {
  border-spacing: 5px;
}

table td:hover {
  transform: scale(1.025);
  transition: transform 0.3s ease-in-out;
}

.register:hover {
  transform: scale(1.025);
  transition: transform 0.2s ease-in-out;
}

.levy{
  
}
